*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 1200px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 50px #41436a;
    border-radius: 20px;
    overflow: hidden;
}
.main{
    width: 1200px;
    height: 650px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
    flex-basis: 30%;
    margin-left: 40px;
}
.logo img{
    width: 50px;
}
.logo h1{
    display: inline-block;
    font-size: 25px;
    color:black;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin-left: -10px;
    margin-right: 50px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-links ul li a:hover{
    background-color: #424953;
    padding: 5px;
    border-radius: 5px;
    color: #eaeaea;
}
.Iso{
    height: 500px;
    width: 1130px;
    background-color: #eaeaea;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: 5px 5px 50px #424953;
}
.Iso p{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-weight: lighter;
    padding-top: 20px;
    width: 855px;
}
.Iso h2{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.one{
    margin-left: 143px ;
    padding-top: 20px;
    height: 80px;
    width: 300px;
    float: left;
}
.two{
    padding-top: 20px;
    height: 80px;
    width: 300px;
    float: left;
}

.three{
    padding-top: 20px;
    height: 80px;
    width: 300px;
    float: left;
}
.four{
    margin-left: 143px;
    padding-top: 50px;
    height: 80px;
    width: 300px;
    float: left;
}
.five{
    padding-top: 50px;
    height: 80px;
    width: 300px;
    float: left;
}
.six{
    padding-top: 50px;
    height: 80px;
    width: 300px;
    float: left;
}
a{
    text-decoration: none;
    color: #9c27b0;
}
a:hover{
    background-color: #8ecdff;
    padding: 2px;
    border-radius: 3px;
    color: #eaeaea;
}